.box
{
    height: 50px;
    width: 50px;
    border: solid black 5px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgb(82, 14, 14);
    
}
.box1
{
    height: 50px;
    width: 50px;
    border: solid black 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(82, 14, 14);
    
}
.box2
{
    height: 50px;
    width: 50px;
    border: solid black 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color:  rgb(82, 14, 14);
    
}
.box3
{
    height: 50px;
    width: 50px;
    border: solid black 5px;
    
    border-bottom-left-radius: 25px;

    border-top-right-radius: 25px;
    background-color: rgb(95, 20, 20);
  
    
}   
.main {
    display: flex;
    
}
.don {
    height: 150px;
    width: 0px;
    border: solid black;
    margin-left: 57px;
    margin-top: -30px;
    
}